@import "../../app/global.module.scss";
.main{
    display: flex;
}
.kindContainer{
    @include flex-row(center,center,row,16px);
    @media(max-width: 500px){
        gap: 8px;
    }
}
.subLink{
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}
.subLink:hover{
    text-decoration-color: $red;
}
.active{
    text-decoration-color: $red;
}